<div class="header pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <br>
      <br>
      <div class="container text-center">
        <h1 class="heading-1">SERVICIOS UNIVERSITARIOS</h1>
        <hr class="my-2" style="width: 100%; margin-left: 0;">
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container-fluid">
    <div class="col-8 mx-auto text-center border border-primary">
      <br>
      <h3>◄ Seleccione una opción en la barra lateral para comenzar</h3>
      <br>
    </div>
  </div>
</div>
