<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <br>
      <br>
      <div class="container text-center">
        <h1>Consejería Académica</h1>
        <hr class="my-2" style="width: 100%; margin-left: 0;">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7" style="background-color: rgb(203, 238, 226);">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container d-flex">
    <div class="col-4 text-left">
      <img class="img-fluid d-block" style="width: 22rem;" src="./assets/img/images/consejeria.png"
        alt="Muestra una imagen representativa de este servicio" />
      <br>
    </div>
    <div class="col-8" style="margin-left: 30px;">
      <h3>¿Quienes somos?</h3>
      <br>
      <p class="text-justify text-dark">En el Centro de Consejería Académica de la Konrad Lorenz te orientamos en tus dificultades
        académicas y de adaptación a la vida universitaria, así como también, te orientamos y preparamos para afrontar
        tus prácticas profesionales. Contamos con un equipo experto a tu servicio y, múltiples herramientas para
        brindarte la mejor orientación, como lo son las intervenciones individuales y grupales, tutorías, talleres,
        plataformas virtuales y muchas más alternativas, para que así, puedas lograr todos tus objetivos y metas.</p>
      <br>
      <div class="list-group">
        <a class="list-group-item list-group-item-action bg-success">
          <h3 class="font-weight-bold">Informacion:</h3>
        </a>
        <a class="list-group-item list-group-item-action">Dias de atencion: Lunes a Viernes</a>
        <a class="list-group-item list-group-item-action">Horario: 9:00 a.m a 9:00 p.m</a>
        <a class="list-group-item list-group-item-action">Correo Electronico: consejeria@konradlorenz.edu.co</a>
        <a class="list-group-item list-group-item-action">PBX: (+57-1) 347 2311 - Ext. 222</a>
        <a class="list-group-item list-group-item-action">Celular: 350 859 20 82</a>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="container d-flex">
    <div class="col-6 border-right border-light">
      <h3 class="font-weight-bold">Servicios prestados en consejería académica:</h3>
      <br>
      <ul>
        <li>Tutorías académicas.</li>
        <li>Plataformas virtuales.</li>
        <li>Talleres para el desarrollo de habilidades sociales, comunicativas, regulación emocional y aprendizaje.</li>
        <li>Competencias Profesionales.</li>
        <li>Inmersión a la Vida Laboral.</li>
        <li>Inducción y Adaptación a la Vida Universitaria.</li>
        <li>Adaptación a la Práctica en Psicología Clínica.</li>
        <li>Intervenciones grupales breves, según necesidad.</li>
        <li>Proceso de acompañamiento personalizado en Consejería Individual.</li>
      </ul>
    </div>
    <div class="col-6">
      <h3 class="font-weight-bold">Ubicacion:</h3>
      <br>
      <div>
        <div class="card border-light" style="width: 25rem; margin-left: 80px;">
          <img class="card-img-top" src="./assets/img/images/maps.jpg"
            alt="Muestra una imagen de lo que seria la ubicacion del servicio en Google Maps">
          <div class="card-body border-light">
            <p class="card-text text-center text-dark">Aqui nos puede encontrar</p>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
  <br>
  <br>
  <div class="container text-center">
    <h2>Acceda a este servicio</h2>
  </div>
  <br>
  <div class="container d-flex">
    <div class="col-3 text-center">
      <i class="ni ni-email-83"></i>
      <br>
      <p class="text-dark">Solicitando una sesión por medio de correo o telefono</p>
    </div>
    <div class="col-3 text-center">
      <i class="ni ni-bell-55"></i>
      <br>
      <p class="text-dark">Mediante contacto del Centro de Consejería por riesgo de deserción</p>
    </div>
    <div class="col-3 text-center">
      <i class="ni ni-hat-3"></i>
      <br>
      <p class="text-dark">Siendo beneficiario de un convenio de apoyo a la matrícula</p>
    </div>
    <div class="col-3 text-center">
      <i class="ni ni-send"></i>
      <br>
      <p class="text-dark">Por remisión de un docente, supervisor o coordinador</p>
    </div>
  </div>
  <br>
</div>
